.App {
  text-align: center;
}

.container{
  margin:10%;
  background-color:#5dc7b412;
}

.content{
  padding:50px; 
  height:50%;
}

.slider{
  width: 100%;
}

.inputField{
  border: none;
    font-size: 20px;
    color: #03A9F4;
    min-width: 40px;
    min-width: 40px;
    text-align: center;
    font-weight: bold;
    max-width: 92px;
    background: rgb(93 199 180 / 0%);
}

.inputField:focus{
  border: none !important;
  outline: none;  
}

.earningContent{
  border-bottom: 1px solid rgb(52 199 29 / 60%);
  color: rgb(52 199 29 / 60%);
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

.feesContent{
  border-bottom: 1px solid #000000bf;
  color: #000000bf;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.footerContent{
  font-size:8px;
  opacity:0.2;
  font-weight:bold;
  margin-top:20px;
  margin-bottom:20px;
}

.inputFieldContainer{
  display:contents;
  color:#03A9F4;
  font-weight:bold;
}